services:
  mongo-payment:
    image: mongo:6
    container_name: mongo-payment
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend-network

  payment-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: payment-service
    restart: always
    ports:
      - "8085:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo-payment:27017/paymentdb
      SPRING_LIQUIBASE_CHANGE_LOG: classpath:/db/changelog/master-changelog.yaml
      SPRING_LIQUIBASE_ENABLED: "true"
      SPRING_PROFILES_ACTIVE: docker
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9093
    depends_on:
      - mongo-payment
    networks:
      - backend-network

volumes:
  mongo_data:

networks:
  backend-network:
    name: backend-network
    external: true
